# Xmake cache
.xmake/

.vs/

.vscode/

.git/

bin/

build/

nil/

PICTURE RECORD/

Texture/ 

Debug/
Release/
x64/
lib/
Fonts/
vsxmake2022/

# MacOS Cache
.DS_Store

# File type
**.gif
**.png
**.jpg

**.cso
**.mbo
**.inc
**.ilk
**.lib
**.iobj
**.ipdb
**.pdb
**.exp
**.ini
**.exe

*.lastcodeanalysissucceeded
!dxtex.exe
